
body {
    font-family: sans-serif;
  }

#chart {
    max-width: 1000px;
    margin: 35px auto;
    border: 1px solid lightgrey;
  }
/* 
  #charttwo {
    max-width: 1000px;
    margin: 35px auto;
    border: 1px solid lightgrey;
  } */